# 제로베이스 데이터 사이언스 스쿨 3기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점 
- 3번 10점 
- 4번 30점 
- 5번 10점 
- 6번 10점
- 7번 15점 
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1. 

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [2]:
import mysql.connector

In [7]:
conn = mysql.connector.connect(
    host = 'database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user = 'oneday',
    password = '1234',
    database = 'oneday'
)

In [8]:
cursor = conn.cursor(buffered=True)

In [9]:
# GAS_BRAND 테이블 생성 쿼리
create_gas_brand_table = '''
CREATE TABLE GAS_BRAND (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(16)
);
'''

# GAS_STATION 테이블 생성 쿼리
create_gas_station_table = '''
CREATE TABLE GAS_STATION (
    id INT AUTO_INCREMENT PRIMARY KEY,
    brand INT,
    name VARCHAR(64),
    city CHAR(2),
    gu VARCHAR(10),
    address VARCHAR(128),
    gasoline INT,
    diesel INT,
    self BOOLEAN,
    car_wash BOOLEAN,
    charging_station BOOLEAN,
    car_maintenance BOOLEAN,
    convenience_store BOOLEAN,
    24_hours BOOLEAN,
    lat DECIMAL(16, 14),
    lng DECIMAL(17, 14),
    FOREIGN KEY (brand) REFERENCES GAS_BRAND(id)
);
'''


try:
    cursor.execute(create_gas_brand_table)
    print("GAS_BRAND 테이블이 성공적으로 생성되었습니다.")

    cursor.execute(create_gas_station_table)
    print("GAS_STATION 테이블이 성공적으로 생성되었습니다.")

    conn.commit()
except mysql.connector.Error as err:
    print("MySQL 오류: ", err)
finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

GAS_BRAND 테이블이 성공적으로 생성되었습니다.
GAS_STATION 테이블이 성공적으로 생성되었습니다.

문제 2. 

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

제출 1. 
 - Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;
 
제출 2. 
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [11]:
conn = mysql.connector.connect(
    host = 'database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user = 'oneday',
    password = '1234',
    database = 'oneday'
)
cursor = conn.cursor(buffered=True)

In [13]:
# GAS_BRAND 데이터 입력 
insert_gas_brand_data = '''
INSERT INTO GAS_BRAND (id, name)
VALUES
    (1, 'SK에너지'),
    (2, '현대오일뱅크'),
    (3, 'GS칼텍스'),
    (4, 'S-OIL'),
    (5, '알뜰주유소'),
    (6, '자가상표');
'''
cursor.execute(insert_gas_brand_data)

# GAS_BRAND 조회 쿼리
select_gas_brand_query = '''
SELECT * FROM GAS_BRAND;
'''

# GAS_BRAND 조회
cursor.execute(select_gas_brand_query)
result = cursor.fetchall()
print("GAS_BRAND 조회 결과:")
for row in result:
    print(row)

GAS_BRAND 조회 결과:
(1, 'SK에너지')
(2, '현대오일뱅크')
(3, 'GS칼텍스')
(4, 'S-OIL')
(5, '알뜰주유소')
(6, '자가상표')

In [14]:
# DESC GAS_BRAND
desc_gas_brand_query = '''
DESC GAS_BRAND;
'''

# DESC GAS_STATION
desc_gas_station_query = '''
DESC GAS_STATION;
'''

try:
    cursor.execute(desc_gas_brand_query)
    print("GAS_BRAND 테이블 Desc:")
    for column in cursor.fetchall():
        print(column)

    cursor.execute(desc_gas_station_query)
    print("\nGAS_STATION 테이블 Desc:")
    for column in cursor.fetchall():
        print(column)
    
    conn.commit()
    
except mysql.connector.Error as err:
    print("MySQL 오류: ", err)
finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

GAS_BRAND 테이블 Desc:
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(16)', 'YES', '', None, '')

GAS_STATION 테이블 Desc:
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('brand', b'int', 'YES', 'MUL', None, '')
('name', b'varchar(64)', 'YES', '', None, '')
('city', b'char(2)', 'YES', '', None, '')
('gu', b'varchar(10)', 'YES', '', None, '')
('address', b'varchar(128)', 'YES', '', None, '')
('gasoline', b'int', 'YES', '', None, '')
('diesel', b'int', 'YES', '', None, '')
('self', b'tinyint(1)', 'YES', '', None, '')
('car_wash', b'tinyint(1)', 'YES', '', None, '')
('charging_station', b'tinyint(1)', 'YES', '', None, '')
('car_maintenance', b'tinyint(1)', 'YES', '', None, '')
('convenience_store', b'tinyint(1)', 'YES', '', None, '')
('24_hours', b'tinyint(1)', 'YES', '', None, '')
('lat', b'decimal(16,14)', 'YES', '', None, '')
('lng', b'decimal(17,14)', 'YES', '', None, '')

문제 3. 

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’) - 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

In [44]:
from geopy.geocoders import GoogleV3
import geopy.distance
import googlemaps

API = 'AIzaSyArZv0W2WhFuCQp1EZwWCYWu6z-issXQyM'
geolocator = GoogleV3(api_key=API)

In [45]:
import mysql.connector
from geopy.geocoders import Nominatim

conn = mysql.connector.connect(
    host = 'database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user = 'oneday',
    password = '1234',
    database = 'oneday'
)

cursor = conn.cursor(buffered=True)
    
# 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수
def convert_currency_to_number(currency):
    number = int(currency.replace(',', ''))
    return number

# 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID를 반환하는 함수
def get_gas_brand_id(brand_name):
    try:

        select_gas_brand_query = '''
        SELECT id FROM GAS_BRAND WHERE name = %s;
        '''
        cursor.execute(select_gas_brand_query, (brand_name,))
        result = cursor.fetchone()
        if result:
            return result[0]
        else:
            return None

    except mysql.connector.Error as err:
        print("MySQL 오류: ", err)
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

# 주소를 입력받아 구 이름을 반환하는 함수
def get_gu_from_address(address):
    gu = address.split(' ')[1].strip()
    return gu


# 주소를 입력받아 위도, 경도를 반환하는 함수 (Google Geocoding API 사용)
def get_lat_lng_from_address(address):
    geolocator = GoogleV3(api_key=API)
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None


# 테스트
def test_functions():
    currency = '1,000'
    number = convert_currency_to_number(currency)
    print("화폐단위 문자형 입력: {}, 숫자형 반환: {}".format(currency, number))

    brand_name = 'SK에너지'
    brand_id = get_gas_brand_id(brand_name)
    print("주유소 브랜드 입력: {}, GAS_BRAND ID 반환: {}".format(brand_name, brand_id))

    address = '서울시 강남구 헌릉로 730'
    gu_name = get_gu_from_address(address)
    print("주소 입력: {}, \n구 이름 반환: {}".format(address, gu_name))

    address = '서울시 강남구 헌릉로 730'
    lat, lng = get_lat_lng_from_address(address)
    print("주소 입력: {}, \n위도: {}, 경도: {}".format(address, lat, lng))

test_functions()

화폐단위 문자형 입력: 1,000, 숫자형 반환: 1000
주유소 브랜드 입력: SK에너지, GAS_BRAND ID 반환: 1
주소 입력: 서울시 강남구 헌릉로 730,
구 이름 반환: 강남구
주소 입력: 서울시 강남구 헌릉로 730,
위도: 37.4665675, 경도: 127.1190803

문제 4. 

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다. - 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [23]:
from geopy.geocoders import GoogleV3
import geopy.distance
import googlemaps

In [123]:
import mysql.connector
from geopy.geocoders import GoogleV3
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
import re
import time

conn = mysql.connector.connect(
    host='database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user='oneday',
    password='1234',
    database='oneday'
)

cursor = conn.cursor(buffered=True)

# 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수
def convert_currency_to_number(currency):
    number = int(currency.replace(',', ''))
    return number

# 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID를 반환하는 함수
def get_gas_brand_id(brand_name):
    select_gas_brand_query = '''
    SELECT id FROM GAS_BRAND WHERE name = %s;
    '''
    cursor.execute(select_gas_brand_query, (brand_name,))
    result = cursor.fetchone()
    if result:
        return result[0]
    else:
        # 브랜드 이름이 없을 경우 6 자가상표로 처리
        return 6


# 주소를 입력받아 구 이름을 반환하는 함수
def get_gu_from_address(address):
    gu = address.split(' ')[1].strip()
    return gu


# 주소를 입력받아 위도, 경도를 반환하는 함수 (Google Geocoding API 사용)
def get_lat_lng_from_address(address):
    geolocator = GoogleV3(api_key='AIzaSyArZv0W2WhFuCQp1EZwWCYWu6z-issXQyM')
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None
    
    
# 주어진 값을 boolean 형식으로 변환하는 함수
def convert_to_boolean(value):
    return 1 if value == 'Y' else 0

url = 'https://www.opinet.co.kr/searRgSelect.do'
driver = webdriver.Chrome('./driver/chromedriver.exe')
driver.get(url)
time.sleep(3)

# 팝업창 닫기
#driver.switch_to.window(driver.window_handles[-1])
#driver.close()
#time.sleep(1)
#driver.switch_to.window(driver.window_handles[0])
#driver.get(url)

#time.sleep(1)

# 구 리스트
gu_list_row = driver.find_element(By.ID, 'SIGUNGU_NM0')
gu_list = gu_list_row.find_elements(By.TAG_NAME, 'option')

gu_names = [option.get_attribute('value') for option in gu_list]
gu_names = gu_names[1:]

for gu_name in gu_names:
    select_gu = Select(driver.find_element(By.ID, 'SIGUNGU_NM0'))
    select_gu.select_by_value(gu_name)

    search_btn = driver.find_element(By.XPATH, '//*[@id="searRgSelect"]/span')
    search_btn.click()
    time.sleep(2)

    script_html = driver.page_source

    # 정규식 패턴 생성 및 데이터 추출
    results = []
    station_data = {}  # 각 주유소 정보를 담을 딕셔너리
    for line in script_html.splitlines():
        for data in data_list:
            pattern = re.compile(fr'{data}\s*=\s*"(.+?)"')
            match = pattern.search(line)
            if match:
                station_data[data] = match.group(1)
        if len(station_data) == len(data_list):
            results.append(station_data)
            station_data = {}

    try:
        insert_gas_station_query = '''
        INSERT INTO GAS_STATION (brand, name, city, gu, address, gasoline, diesel, self, car_wash, charging_station, car_maintenance, convenience_store, 24_hours, lat, lng)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        '''

        for station_data in results:
            if 'POLL_DIV_NM' in station_data:
                # 데이터 입력
                brand_name = station_data['POLL_DIV_NM']
                brand_id = get_gas_brand_id(brand_name)
                st_name = station_data['OS_NM']
                gu = get_gu_from_address(station_data['RD_ADDR'])
                lat, lng = get_lat_lng_from_address(station_data['RD_ADDR'])
                gasoline_price = convert_currency_to_number(station_data['B027_P'].replace(',', ''))
                diesel_price = convert_currency_to_number(station_data['D047_P'].replace(',', ''))
                if brand_id:
                    values = (
                        brand_id,
                        st_name,
                        '서울',
                        gu,
                        station_data['RD_ADDR'],
                        gasoline_price,
                        diesel_price,
                        convert_to_boolean(station_data['SELF_DIV_CD']),
                        convert_to_boolean(station_data['CWSH_YN']),
                        0,
                        convert_to_boolean(station_data['MAINT_YN']),
                        convert_to_boolean(station_data['CVS_YN']),
                        convert_to_boolean(station_data['SEL24_YN']),
                        lat,
                        lng
                    )
                    # 데이터 입력 코드
                    try:
                        cursor.execute(insert_gas_station_query, values)
                        conn.commit() 
                        print(f"데이터 입력 성공: {st_name}")
                    except Exception as e:
                        conn.rollback() 
                        print(f"데이터 입력 중 오류: {repr(e)}")


    except Exception as e:
        print("데이터 입력 중 오류:", repr(e))
    
    finally :
        pass

데이터 입력 성공: (주)보성 세곡주유소
데이터 입력 성공: 현대오일뱅크 도곡셀프주유소
데이터 입력 성공: 삼성동주유소
데이터 입력 성공: 자곡셀프주유소
데이터 입력 성공: 현대오일뱅크(주)직영 산성셀프주유소
데이터 입력 성공: 오일프러스 셀프
데이터 입력 성공: 현대오일뱅크(주) 유진주유소
데이터 입력 성공: 방죽주유소
데이터 입력 성공: SK서광주유소
데이터 입력 성공: 대교셀프주유소
데이터 입력 성공: (주)선진도곡주유소
데이터 입력 성공: SK에너지㈜ 진달래주유소
데이터 입력 성공: 에쓰-오일㈜직영 개나리주유소
데이터 입력 성공: SK에너지(주) 매봉주유소
데이터 입력 성공: (주)중앙에너비스 수서지점
데이터 입력 성공: 일원주유소
데이터 입력 성공: (유)동하석유 힐탑셀프주유소
데이터 입력 성공: 대동석유 압구정주유소
데이터 입력 성공: 에스제이에너지산업(주) 개포주유소
데이터 입력 성공: 현대오일뱅크(주)직영 한양주유소
데이터 입력 성공: 지에스칼텍스㈜에너지플러스허브GS타워
데이터 입력 성공: 현대오일뱅크(주)직영 신사현대주유소
데이터 입력 성공: 대성석유(주)동호주유소
데이터 입력 성공: 지에스칼텍스㈜ 은마주유소
데이터 입력 성공: (주)소모 쎈트럴주유소
데이터 입력 성공: 지에스칼텍스㈜ 삼성로주유소
데이터 입력 성공: 대청주유소
데이터 입력 성공: 지에스칼텍스(주)학여울주유소
데이터 입력 성공: 명품주유소
데이터 입력 성공: ㈜새서울석유 새서울주유소
데이터 입력 성공: 갤러리아주유소
데이터 입력 성공: SK논현주유소
데이터 입력 성공: (주)제이제이네트웍스 제이제이주유소
데이터 입력 성공: (주)만정에너지 삼보주유소
데이터 입력 성공: 재건에너지 재정제2주유소 고속셀프지점
데이터 입력 성공: 구천면주유소
데이터 입력 성공: 대성석유(주)길동주유소
데이터 입력 성공: (주)소모 신월주유소
데이터 입력 성공: (주)삼표에너지 고덕주유소
데이터 입력 성공: (주)퍼스트오일 코알라주유소
데이터 입력 성공: 주)지유에너지직영 오렌지주유소
데이터 입력 성공: 방아다리주유소
데이터 입력 성공: 지에스칼텍스㈜ 동서울주유소
데이터 입력 성공: sk해뜨는주유소
데이터 입력 성공: (주)소모 성내주유소
데이터 입력 성공: 천호현대주유소
데이터 입력 성공: 광성주유소
데이터 입력 성공: 씨앤에스유통㈜ 미아셀프주유소
데이터 입력 성공: 북서울고속주유소
데이터 입력 성공: ㈜지에스이앤알 미아주유소
데이터 입력 성공: (주)석산에너지
데이터 입력 성공: 수유동주유소
데이터 입력 성공: (주)서울에너지 시민주유소
데이터 입력 성공: SK에너지(주) 매일주유소
데이터 입력 성공: 덕릉로주유소
데이터 입력 성공: 대성석유(주)신광주유소
데이터 입력 성공: 현대오일뱅크(주)직영 번동셀프주유소
데이터 입력 성공: 세원주유소
데이터 입력 성공: 에덴주유소
데이터 입력 성공: 뉴신정주유소
데이터 입력 성공: 화곡역주유소
데이터 입력 성공: 이케이에너지(주) 강서주유소
데이터 입력 성공: 행촌에너지 공항주유소
데이터 입력 성공: 스카이주유소
데이터 입력 성공: 목화주유소
데이터 입력 성공: (주)타이거오일 방화주유소
데이터 입력 성공: KH에너지(주)직영 KH외발산주유소
데이터 입력 성공: 유턴주유소
데이터 입력 성공: 지에스칼텍스㈜ 경인고속주유소
데이터 입력 성공: 오션네트웍스(주) 서울식물원지점
데이터 입력 성공: 개화주유소
데이터 입력 성공: (주)한진 김포공항주유소
데이터 입력 성공: 강서오곡셀프주유소
데이터 입력 성공: 대성석유(주) 마곡대성주유소
데이터 입력 성공: 신화곡주유소
데이터 입력 성공: 현대오일뱅크 등촌주유소
데이터 입력 성공: 대성석유(주)방화대성주유소
데이터 입력 성공: 대성석유(주) 관문주유소
데이터 입력 성공: 하이웨이주유소
데이터 입력 성공: 현대오일뱅크 양화교셀프주유소
데이터 입력 성공: 강서열린주유소
데이터 입력 성공: 대성주유소
데이터 입력 성공: 현대오일뱅크(주) 가양주유소
데이터 입력 성공: SK KH에너지 가양주유소
데이터 입력 성공: 화곡현대주유소
데이터 입력 성공: 세원제1주유소
데이터 입력 성공: 우장산주유소
데이터 입력 성공: (주)한진 김포공항제2주유소
데이터 입력 성공: 박물관주유소
데이터 입력 성공: 코리나(주)청룡주유소
데이터 입력 성공: 참솔에너지
데이터 입력 성공: 염창동주유소
데이터 입력 성공: (주)연우에너지 신관주유소
데이터 입력 성공: (주)엠오티이엔지 직영 삼화주유소
데이터 입력 성공: 대양석유(주)직영 보라매주유소
데이터 입력 성공: 서일석유(주)락성주유소
데이터 입력 성공: SK에너지(주)직영 대공원주유소
데이터 입력 성공: SK에너지(주) 신봉천
데이터 입력 성공: 현대오일뱅크(주)직영 문성골주유소
데이터 입력 성공: 현대오일뱅크(주)직영 관악셀프주유소
데이터 입력 성공: 현대주유소
데이터 입력 성공: 유림주유소
데이터 입력 성공: 관악시몬주유소
데이터 입력 성공: (주)한유에너지행운셀프주유소
데이터 입력 성공: CJ대한통운㈜ 신림주유소
데이터 입력 성공: 지에스칼텍스㈜ 난곡주유소
데이터 입력 성공: 태양주유소
데이터 입력 성공: 현대오일뱅크(주)직영 능동주유소
데이터 입력 성공: (주)창원CW
데이터 입력 성공: 현대오일뱅크(주) 중원셀프주유소
데이터 입력 성공: 현대오일뱅크(주)직영 중곡현대주유소
데이터 입력 성공: 대원주유소
데이터 입력 성공: 용마주유소
데이터 입력 성공: 현대오일뱅크㈜직영 장호셀프주유소
데이터 입력 성공: 정해네트웍스(주)일진주유소
데이터 입력 성공: (주)장수주유소
데이터 입력 성공: 삼호주유소
데이터 입력 성공: 강평주유소
데이터 입력 성공: 유니스에너지 자양주유소
데이터 입력 성공: 서서울고속주유소
데이터 입력 성공: 처음처럼주유소
데이터 입력 성공: 극동유화(주) 항동주유소
데이터 입력 성공: 신성주유소
데이터 입력 성공: 구인주유소
데이터 입력 성공: 남선석유(주)풀페이주유소
데이터 입력 성공: 대성산업(주)디큐브주유소
데이터 입력 성공: SK구로주유소
데이터 입력 성공: (주)한미석유구로그린주유소
데이터 입력 성공: SK에너지(주)직영 개봉동주유소
데이터 입력 성공: 현대오일뱅크㈜직영 신오류주유소
데이터 입력 성공: 현대오일뱅크(주)직영 신구로주유소
데이터 입력 성공:  현대오일뱅크㈜직영 구로셀프주유소
데이터 입력 성공: JHC에너지
데이터 입력 성공: 영진주유소
데이터 입력 성공: 대원셀프주유소
데이터 입력 성공: 개봉주유소
데이터 입력 성공: 근린공원주유소
데이터 입력 성공: 동아주유소
데이터 입력 성공: 구로주유소
데이터 입력 성공: 구광주유소
데이터 입력 성공: (주)화동유업 화동주유소
데이터 입력 성공: (주)백운주유소
데이터 입력 성공: SK에너지(주) 박미주유소
데이터 입력 성공: 지에스칼텍스(주)일신주유소
데이터 입력 성공: 대득에너지(금천셀프주유소)
데이터 입력 성공: 백산주유소
데이터 입력 성공: SK에너지(주) 이가주유소
데이터 입력 성공: 현대오일뱅크(주)직영 금천현대셀프주유소
데이터 입력 성공: 남서울경복에너지
데이터 입력 성공: 현대오일뱅크㈜직영 금천제일주유소
데이터 입력 성공: 월계주유소
데이터 입력 성공: 성북역주유소
데이터 입력 성공: 이엠석유(주)배꽃나라주유소
데이터 입력 성공: 삼육주유소
데이터 입력 성공: 한신주유소
데이터 입력 성공: 화랑대주유소
데이터 입력 성공: 태릉솔밭주유소
데이터 입력 성공: (주)소모 수락산셀프주유소
데이터 입력 성공: 남선석유(주)구도일주유소 불암
데이터 입력 성공: SK에너지㈜직영 상계주유소
데이터 입력 성공: 신성주유소
데이터 입력 성공: 노원주유소
데이터 입력 성공: 상계동주유소
데이터 입력 성공: 하계삼호주유소
데이터 입력 성공: (주)자연에너지 햇살주유소
데이터 입력 성공: 한이에너지(주) 쌍문주유소
데이터 입력 성공: 도봉제일주유소(주)송만에너지
데이터 입력 성공: (주)헨지스에너지 구도일주유소 도봉
데이터 입력 성공: 극동유화(주) 대안주유소
데이터 입력 성공: 지에스칼텍스㈜ 방학동주유소
데이터 입력 성공: 지에스칼텍스㈜ 도봉주유소
데이터 입력 성공: 삼미북부셀프주유소
데이터 입력 성공: 구도일주유소 파크빌
데이터 입력 성공: 동일석유(주) 창동주유소
데이터 입력 성공: 대성산업(주)신창주유소
데이터 입력 성공: 현대오일뱅크㈜직영 도봉현대셀프주유소
데이터 입력 성공: 노원교주유소
데이터 입력 성공: 오복주유소
데이터 입력 성공: (주)쌍문셀프주유소
데이터 입력 성공: 현대오일뱅크㈜직영 영신주유소
데이터 입력 성공: (주)자연에너지 국민주유소
데이터 입력 성공: 동서울고속주유소
데이터 입력 성공: 풍한주유소
데이터 입력 성공: 열린주유소
데이터 입력 성공: 재정주유소
데이터 입력 성공: 재정제2주유소
데이터 입력 성공: 삼영주유소
데이터 입력 성공: (주)경동주유소
데이터 입력 성공: 대성산업㈜청량리주유소
데이터 입력 성공: 대성산업(주)동마장주유소
데이터 입력 성공: 삼미상사(주)장안킹셀프주유소
데이터 입력 성공: (주)안국에너지 삼원셀프주유소
데이터 입력 성공: 홍능주유소
데이터 입력 성공: 현대오일뱅크㈜직영 스피드주유소
데이터 입력 성공: 오동나무주유소
데이터 입력 성공: 배봉로주유소
데이터 입력 성공: 한영주유소 (한화)
데이터 입력 성공: (주)파랑에너지
데이터 입력 성공: 지에스칼텍스(주) 대방주유소
데이터 입력 성공: 창원이엔지주유소
데이터 입력 성공: 매일주유소
데이터 입력 성공: 현대오일뱅크㈜직영 신대방셀프주유소
데이터 입력 성공: 현대오일뱅크(주)직영 사당셀프주유소
데이터 입력 성공: 지에스칼텍스㈜직영 남성주유소
데이터 입력 성공: 현대오일뱅크㈜직영 흑석동셀프주유소
데이터 입력 성공: 현대오일뱅크(주)직영 동작주유소
데이터 입력 성공: 살피재주유소
데이터 입력 성공: 마포시엠주유소
데이터 입력 성공: 성산주유소
데이터 입력 성공: 성산대교셀프주유소
데이터 입력 성공: 청원주유소
데이터 입력 성공: 용강주유소
데이터 입력 성공: 에쓰오일(주) 염리동주유소
데이터 입력 성공: (주)안국에너지 망원동주유소
데이터 입력 성공: 에스에스오토셀프
데이터 입력 성공: (주)만성상사 대흥주유소
데이터 입력 성공: SK에너지 양지주유소
데이터 입력 성공: SK에너지(주) 안국주유소
데이터 입력 성공: (주)창원이엔지 홍제지점
데이터 입력 성공: 지에스칼텍스(주)홍제동주유소
데이터 입력 성공: (주)미래아스팔트 신우주유소
데이터 입력 성공: 구도일주유소 두꺼비
데이터 입력 성공: (주)가재울뉴타운주유소
데이터 입력 성공: 남정주유소
데이터 입력 성공: ㈜우남에너지 문화사랑주유소
데이터 입력 성공: 행촌제2주유소
데이터 입력 성공: 현대오일뱅크(주)직영 연세주유소
데이터 입력 성공: (주)안국에너지 삼보셀프주유소
데이터 입력 성공: 삼미상사(주)서부주유소
데이터 입력 성공: 중앙에너비스 동교지점
데이터 입력 성공: 연희주유소
데이터 입력 성공: 광호주유소
데이터 입력 성공: 만남의광장주유소
데이터 입력 성공: 양재최고주유소
데이터 입력 성공: 서초하이웨이 주유소
데이터 입력 성공: 에쓰오일(주)직영 오토테크주유소
데이터 입력 성공: 태봉셀프주유소
데이터 입력 성공: 현대오일뱅크㈜직영 양재현대주유소
데이터 입력 성공: 신반포주유소
데이터 입력 성공: 한독주유소
데이터 입력 성공: 현대오일뱅크(주)직영 팔레스주유소
데이터 입력 성공: 극동유화(주) 전당앞주유소
데이터 입력 성공: (주)한미석유 서초주유소
데이터 입력 성공: 말죽거리주유소
데이터 입력 성공: (주)대농석유 남태령주유소
데이터 입력 성공: 서초꽃마을주유소
데이터 입력 성공: 대성산업(주)직영 강남주유소
데이터 입력 성공: 대성석유(주)연일주유소
데이터 입력 성공: 반포그린주유소
데이터 입력 성공: 에너지플러스허브 삼방주유소
데이터 입력 성공: 현대오일뱅크㈜직영 사평로주유소
데이터 입력 성공: 대성산업(주)직영 터미널(고속)주유소
데이터 입력 성공: 현대오일뱅크(주)직영 서초제일주유소
데이터 입력 성공: 양재주유소
데이터 입력 성공: 현대오일뱅크(주)직영 방배현대주유소
데이터 입력 성공: 대신석유(주)대우주유소
데이터 입력 성공: 헌릉로주유소
데이터 입력 성공: 지에스칼텍스(주)선천주유소
데이터 입력 성공: 지에스칼텍스(주)남서울주유소
데이터 입력 성공: 방배동주유소
데이터 입력 성공: 대신석유㈜서원주유소
데이터 입력 성공: (주)선문에너지 중앙주유소
데이터 입력 성공: 정호주유소
데이터 입력 성공: 아이콘주유소
데이터 입력 성공: (주)서울에너지 직영
데이터 입력 성공: 삼우주유소
데이터 입력 성공: KLP제2주유소
데이터 입력 성공: 지에스칼텍스㈜ 도루코주유소
데이터 입력 성공: 현대오일뱅크(주) 성동셀프주유소
데이터 입력 성공: 현대오일뱅크㈜직영 효진주유소
데이터 입력 성공: SK에너지(주) 군자동주유소
데이터 입력 성공: SK KH에너지 성수만세주유소
데이터 입력 성공: SK에너지(주) 성수주유소
데이터 입력 성공: SK세원2주유소
데이터 입력 성공: 금호주유소
데이터 입력 성공: 동일주유소
데이터 입력 성공: 청계로주유소
데이터 입력 성공: (주)옥수하이웨이스테이션
데이터 입력 성공: (주)삼표에너지 정릉주유소
데이터 입력 성공: 이케이에너지(주) 강산제2주유소
데이터 입력 성공: 원천주유소
데이터 입력 성공: 이케이에너지㈜ 강산주유소
데이터 입력 성공: SK에너지(주) 드림랜드주유소
데이터 입력 성공: 신동방주유소
데이터 입력 성공: 장위주유소
데이터 입력 성공: (주)신용 구도일주유소화랑로
데이터 입력 성공: 우리주유소
데이터 입력 성공: 재정제2주유소 길음지점
데이터 입력 성공: (주)성북주유소
데이터 입력 성공: ㈜명연에너지 효성주유소
데이터 입력 성공: 현대오일뱅크㈜직영 고대셀프주유소
데이터 입력 성공: 지에스칼텍스(주) 종암주유소
데이터 입력 성공: 중앙에너비스 종암지점
데이터 입력 성공: 현대오일뱅크㈜직영 장삼주유소
데이터 입력 성공: 현대오일뱅크㈜직영 북악셀프주유소
데이터 입력 성공: 동일주유소
데이터 입력 성공: 신방주유소
데이터 입력 성공: 현대오일뱅크㈜직영 아리랑주유소
데이터 입력 성공: 삼선주유소
데이터 입력 성공: 지에스칼텍스㈜ 화랑주유소
데이터 입력 성공: 지에스칼텍스㈜ 세창주유소
데이터 입력 성공: 위례드림주유소
데이터 입력 성공: 위례제일주유소
데이터 입력 성공: 남성대주유소
데이터 입력 성공: 지에스칼텍스(주)스마트위례주유소
데이터 입력 성공: 지에스이앤알 직영 송파제일주유소
데이터 입력 성공: (주)삼표에너지 아시아주유소
데이터 입력 성공: 삼화주유소
데이터 입력 성공: 상아주유소
데이터 입력 성공: 지에스칼텍스(주)가든파이브주유소
데이터 입력 성공: (주)잠실에너지
데이터 입력 성공: 현대오일뱅크㈜직영 잠실셀프주유소
데이터 입력 성공: (주)삼표에너지 우리주유소
데이터 입력 성공: (주)삼표에너지 훼미리주유소
데이터 입력 성공: (주)신화에너지 서울지점
데이터 입력 성공: (주)정직한주유소
데이터 입력 성공: 대성주유소
데이터 입력 성공: (주)퍼스트오일서울주유소
데이터 입력 성공: 완불주유소
데이터 입력 성공: 한강에너지(주)퍼스트주유소
데이터 입력 성공: 제트라인DM주유소
데이터 입력 성공: 대성석유(주)석촌주유소
데이터 입력 성공: 송파주유소
데이터 입력 성공: (주)유진주유소
데이터 입력 성공: 삼전셀프주유소
데이터 입력 성공: 방이주유소
데이터 입력 성공: 백제고분로주유소
데이터 입력 성공: 현대오일뱅크㈜직영 올림픽셀프주유소
데이터 입력 성공: (주)뉴명성산업 남성주유소
데이터 입력 성공: 대신석유(주)진양주유소
데이터 입력 성공: 현대주유소
데이터 입력 성공: 플라트(주)서호주유소
데이터 입력 성공: 형산석유(주)원주유소
데이터 입력 성공: 개나리Self주유소
데이터 입력 성공: (주)타이거오일 신정주유소
데이터 입력 성공: 양천구주유소
데이터 입력 성공: 지에스이앤알 직영 서울주유소
데이터 입력 성공: 삼미상사(주)신월IC셀프주유소
데이터 입력 성공: 가로공원주유소
데이터 입력 성공: 신월주유소
데이터 입력 성공: (주)삼표에너지 목동주유소
데이터 입력 성공: 신정동주유소
데이터 입력 성공: SK에너지(주) 신평
데이터 입력 성공: 현대오일뱅크(주)직영 양천셀프주유소
데이터 입력 성공: 목동주유소
데이터 입력 성공: 현대오일뱅크(주)직영 양정주유소
데이터 입력 성공: 현대오일뱅크(주)직영 양천현대셀프주유소
데이터 입력 성공: 지에스칼텍스㈜ 건지주유소
데이터 입력 성공: 현대오일뱅크㈜직영 목동셀프주유소
데이터 입력 성공: 현대오일뱅크(주)직영 남부순환셀프주유소
데이터 입력 성공: SK에너지(주) 경인주유소
데이터 입력 성공: (주)서부트럭터미날
데이터 입력 성공: 현대오일뱅크(주)직영 신목동셀프주유소
데이터 입력 성공: 신양주유소
데이터 입력 성공: 지에스칼텍스㈜ 신길주유소
데이터 입력 성공: (주)강서오일
데이터 입력 성공: 행촌주유소

데이터 입력 성공: 남서울고속주유소
데이터 입력 성공: 도림주유소
데이터 입력 성공: 영등포제일셀프주유소
데이터 입력 성공: 성락주유소
데이터 입력 성공: 영등포현대셀프주유소
데이터 입력 성공: (주)대청에너지 대청주유소
데이터 입력 성공: 한경석유(주)경덕주유소
데이터 입력 성공: (주)MS에너지
데이터 입력 성공: 씨앤에스유통 한성주유소
데이터 입력 성공: (주)지에스이앤알 보라주유소
데이터 입력 성공: ㈜지에스이앤알 모드니주유소
데이터 입력 성공: 매봉주유소
데이터 입력 성공: 지에스칼텍스㈜ 화일주유소
데이터 입력 성공: SK에너지(주) 신길동주유소
데이터 입력 성공: SK에너지(주) 양평주유소
데이터 입력 성공: 선유도주유소
데이터 입력 성공: (주)한미석유 제2한강주유소
데이터 입력 성공: SK에너지(주) 기린주유소
데이터 입력 성공: 현대오일뱅크㈜직영 대일셀프주유소
데이터 입력 성공: 성원이앤에스(주)영등포지점
데이터 입력 성공: 현대오일뱅크(주)직영 국회대로주유소
데이터 입력 성공: 버드나룻길주유소
데이터 입력 성공: SK KH에너지 여의도주유소
데이터 입력 성공: SJ오일(주) 여의도주유소
데이터 입력 성공: 현대오일뱅크㈜직영 강변현대주유소
데이터 입력 성공: 현대오일뱅크(주)갈월동주유소
데이터 입력 성공: 동자동주유소
데이터 입력 성공: HD현대오일뱅크(주)직영 소월길주유소
데이터 입력 성공: 현대오일뱅크㈜직영 한남동주유소
데이터 입력 성공: (주)영원 풍기주유소
데이터 입력 성공: (주)남경주유소
데이터 입력 성공: (주)신태성주유소
데이터 입력 성공: 에너비스
데이터 입력 성공: 한남지점
데이터 입력 성공: 한석주유소
데이터 입력 성공: 서계주유소
데이터 입력 성공: 타이거주유소
데이터 입력 성공: (주)디오티디 은평유니콘주유소
데이터 입력 성공: 응암주유소
데이터 입력 성공: 지에스칼텍스(주)수색뉴타운주유소
데이터 입력 성공: ㈜오일닷컴 다회주유소
데이터 입력 성공: 지에스칼텍스㈜ 서부주유소
데이터 입력 성공: 지에스칼텍스㈜ 신사제일주유소
데이터 입력 성공: 불광주유소
데이터 입력 성공: 지에스칼텍스㈜ 녹번주유소
데이터 입력 성공: (주)명연에너지 수색훼미리주유소
데이터 입력 성공: 성원이앤에스(주)은평지점
데이터 입력 성공: 은평뉴타운주유소
데이터 입력 성공: 대성산업㈜ 대성주유소
데이터 입력 성공: 박석고개주유소
데이터 입력 성공: 뉴타운셀프주유소
데이터 입력 성공: 코끼리주유소
데이터 입력 성공: 현대오일뱅크㈜직영 재동주유소
데이터 입력 성공: ㈜지에스이앤알 평창주유소
데이터 입력 성공: 자하문주유소
데이터 입력 성공: 안풍주유소
데이터 입력 성공: 구도일주유소특종
데이터 입력 성공: (주)중앙에너비스 혜화주유소
데이터 입력 성공: SK북악주유소
데이터 입력 성공: 경복궁주유소
데이터 입력 성공: (주)대양씨앤씨 사직주유소
데이터 입력 성공: 다산주유소
데이터 입력 성공: 세화주유소
데이터 입력 성공: 장충드림주유소
데이터 입력 성공: 현대오일뱅크 장원주유소
데이터 입력 성공: SK에너지(주) 퇴계로주유소
데이터 입력 성공: 장충주유소
데이터 입력 성공: 신당동주유소
데이터 입력 성공: 약수주유소
데이터 입력 성공: 필동주유소
데이터 입력 성공: 서남주유소
데이터 입력 성공: (주)자연에너지 대창주유소
데이터 입력 성공: 대원주유소
데이터 입력 성공: 오천만주유소
데이터 입력 성공: 구도일주유소 동천
데이터 입력 성공: 면목SELF주유소
데이터 입력 성공: 대양주유소
데이터 입력 성공: 우림주유소
데이터 입력 성공: (주)태영 구도일주유소 한인
데이터 입력 성공: 용마로주유소
데이터 입력 성공: (주)기지에너지
데이터 입력 성공: 신내주유소
데이터 입력 성공: 신일셀프주유소
데이터 입력 성공: 범아주유소

In [125]:
conn.close()

In [124]:
driver.quit()

In [126]:
conn = mysql.connector.connect(
    host='database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user='oneday',
    password='1234',
    database='oneday'
)

cursor = conn.cursor(buffered=True)

# 입력된 데이터의 총 개수 조회
count_query = 'SELECT COUNT(*) FROM GAS_STATION'
cursor.execute(count_query)
total_count = cursor.fetchone()[0]
print(f'입력된 데이터의 총 개수 조회: {total_count}')

# 입력된 데이터 상위 10개 조회
top_10_query = 'SELECT * FROM GAS_STATION LIMIT 10'
cursor.execute(top_10_query)
top_10_data = cursor.fetchall()

# 상위 10개 데이터 출력
print('입력된 데이터 상위 10개 조회:')
for row in top_10_data:
    print(row)

입력된 데이터의 총 개수 조회: 441
입력된 데이터 상위 10개 조회:
(1, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구  헌릉로 731 (세곡동)', 1653, 1575, 1, 1, 0, 0, 0, 0, Decimal('37.46715650000000'), Decimal('127.11870810000000'))
(2, 2, '현대오일뱅크 도곡셀프주유소', '서울', '강남구', '서울 강남구  남부순환로 2718 (도곡2동)', 1679, 1654, 1, 1, 0, 1, 0, 0, Decimal('37.48546230000000'), Decimal('127.04321810000000'))
(3, 2, '삼성동주유소', '서울', '강남구', '서울 강남구 테헤란로 619 (삼성동)', 1699, 1609, 1, 1, 0, 0, 0, 0, Decimal('37.50985760000000'), Decimal('127.06511010000000'))
(4, 1, '자곡셀프주유소', '서울', '강남구', '서울 강남구 밤고개로 120 (자곡동)', 1699, 1595, 1, 1, 0, 0, 0, 0, Decimal('37.48340020000000'), Decimal('127.10404580000000'))
(5, 2, '현대오일뱅크(주)직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1699, 1595, 1, 1, 0, 0, 0, 0, Decimal('37.46656750000000'), Decimal('127.11908030000000'))
(6, 1, '오일프러스 셀프', '서울', '강남구', '서울 강남구 남부순환로 2651 (도곡동)', 1714, 1669, 1, 1, 0, 1, 0, 1, Decimal('37.48859059999999'), Decimal('127.04527570000000'))
(7, 2, '현대오일뱅크(주) 유진주유소', '서울', '강남구', '서울 강남구 논현로 152 (도곡동)', 1714, 1669, 0, 1, 0, 1, 0, 0, Decimal('37.48743160000000'), Decimal('127.03999760000000'))
(8, 3, '방죽주유소', '서울', '강남구', '서울 강남구 밤고개로 215 (율현동)', 1717, 1639, 1, 1, 0, 0, 0, 0, Decimal('37.47499260000000'), Decimal('127.10688660000000'))
(9, 1, 'SK서광주유소', '서울', '강남구', '서울 강남구 역삼로 142', 1725, 1675, 1, 1, 0, 1, 0, 1, Decimal('37.49434240000000'), Decimal('127.03509150000000'))
(10, 1, '대교셀프주유소', '서울', '강남구', '서울 강남구 강남대로 640 (신사동)', 1730, 1670, 1, 0, 0, 0, 0, 1, Decimal('37.52812920000000'), Decimal('127.03555370000000'))

문제 5. 

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [129]:
import csv
import mysql.connector

conn = mysql.connector.connect(
    host='database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user='oneday',
    password='1234',
    database='oneday'
)

csv_file_path = 'gas_station_data.csv'

query = '''
SELECT GAS_STATION.id, GAS_BRAND.name AS brand, GAS_STATION.name, GAS_STATION.city, GAS_STATION.gu, GAS_STATION.address, 
       GAS_STATION.gasoline, GAS_STATION.diesel, GAS_STATION.self, GAS_STATION.car_wash, GAS_STATION.charging_station, 
       GAS_STATION.car_maintenance, GAS_STATION.convenience_store, GAS_STATION.24_hours, GAS_STATION.lat, GAS_STATION.lng
FROM GAS_STATION
JOIN GAS_BRAND ON GAS_STATION.brand = GAS_BRAND.id
ORDER BY GAS_STATION.id;
'''

cursor = conn.cursor()
cursor.execute(query)
results = cursor.fetchall()

# CSV 파일 저장
with open(csv_file_path, mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerow(['id', 'brand', 'name', 'city', 'gu', 'address', 'gasoline', 'diesel', 'self', 'car_wash',
                     'charging_station', 'car_maintenance', 'convenience_store', '24_hours', 'lat', 'lng'])
    writer.writerows(results)

cursor.close()
conn.close()

print('데이터가 CSV 파일로 저장되었습니다.')

데이터가 CSV 파일로 저장되었습니다.

In [132]:
import pandas
df = pd.read_csv('./gas_station_data.csv')
df.head()

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1653,1575,1,1,0,0,0,0,37.467157,127.118708
1,2,현대오일뱅크,현대오일뱅크 도곡셀프주유소,서울,강남구,서울 강남구 남부순환로 2718 (도곡2동),1679,1654,1,1,0,1,0,0,37.485462,127.043218
2,3,현대오일뱅크,삼성동주유소,서울,강남구,서울 강남구 테헤란로 619 (삼성동),1699,1609,1,1,0,0,0,0,37.509858,127.065110
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1699,1595,1,1,0,0,0,0,37.483400,127.104046
4,5,현대오일뱅크,현대오일뱅크(주)직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1699,1595,1,1,0,0,0,0,37.466567,127.119080

문제 6. 

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요. 

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

In [42]:
import mysql.connector

conn = mysql.connector.connect(
    host='database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user='oneday',
    password='1234',
    database='oneday'
)


# 미왕빌딩 위도와 경도 설정
miwang_building_lat = 37.495435686811
miwang_building_lng = 127.02915553846

query = """
SELECT GAS_STATION.id, GAS_BRAND.name AS brand, GAS_STATION.name, address,
    ROUND(
        ST_Distance_Sphere(
            POINT(%s, %s),
            POINT(lng, lat)
        ) / 1000, 2
    ) AS distance
FROM GAS_STATION
JOIN GAS_BRAND ON GAS_STATION.brand = GAS_BRAND.id
WHERE
    ST_Distance_Sphere(
        POINT(%s, %s),
        POINT(lng, lat)
    ) < 1000
ORDER BY distance;
"""
params = (miwang_building_lng, miwang_building_lat, miwang_building_lng, miwang_building_lat)


cursor = conn.cursor()
cursor.execute(query, params)

# 결과 출력
for row in cursor.fetchall():
    gas_station_id, brand, name, address, distance = row
    print(f"주유소 아이디: {gas_station_id}")
    print(f"주유소 브랜드명: {brand}")
    print(f"주유소 매장명: {name}")
    print(f"주소: {address}")
    print(f"미왕빌딩으로부터의 거리 (km): {distance}")
    print('---------------------------------------------')

cursor.close()
conn.close()

주유소 아이디: 9
주유소 브랜드명: SK에너지
주유소 매장명: SK서광주유소
주소: 서울 강남구 역삼로 142
미왕빌딩으로부터의 거리 (km): 0.54
---------------------------------------------
주유소 아이디: 253
주유소 브랜드명: 현대오일뱅크
주유소 매장명: 현대오일뱅크(주)직영 서초제일주유소
주소: 서울 서초구 사임당로 116 (서초동)
미왕빌딩으로부터의 거리 (km): 0.79
---------------------------------------------
주유소 아이디: 13
주유소 브랜드명: S-OIL
주유소 매장명: 에쓰-오일㈜직영 개나리주유소
주소: 서울 강남구 언주로 423 (역삼동)
미왕빌딩으로부터의 거리 (km): 0.98
---------------------------------------------

문제 7. 

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [14]:
conn = mysql.connector.connect(
    host='database-1.cn4vthwm7kuj.us-east-2.rds.amazonaws.com',
    user='oneday',
    password='1234',
    database='oneday'
)

# 미왕빌딩 위도와 경도 설정
miwang_building_lat = 37.495435686811
miwang_building_lng = 127.02915553846

cursor = conn.cursor()
query = """
SELECT GAS_STATION.id AS 주유소_아이디, GAS_BRAND.name AS 주유소_브랜드명, GAS_STATION.name AS 주유소_매장명,
       GAS_STATION.address AS 주소, GAS_STATION.gasoline AS 휘발유_가격,
       CASE WHEN GAS_STATION.self = 1 THEN '○' ELSE 'X' END AS 셀프주유,
       CASE WHEN GAS_STATION.`24_hours` = 1 THEN '○' ELSE 'X' END AS 운영시간,
       CASE WHEN GAS_STATION.convenience_store = 1 THEN '○' ELSE 'X' END AS 편의점,
       ROUND(
           ST_Distance_Sphere(
               POINT(%s, %s),
               POINT(GAS_STATION.lng, GAS_STATION.lat)
           ) / 1000, 2
       ) AS 미왕빌딩으로부터_거리
FROM GAS_STATION
JOIN GAS_BRAND ON GAS_STATION.brand = GAS_BRAND.id
WHERE GAS_STATION.self = 1 AND GAS_STATION.`24_hours` = 1 AND GAS_STATION.convenience_store = 1
ORDER BY 휘발유_가격, 미왕빌딩으로부터_거리
LIMIT 10;
"""

params = (miwang_building_lng, miwang_building_lat)

cursor.execute(query, params)

for row in cursor.fetchall():
    주유소_아이디, 주유소_브랜드명, 주유소_매장명, 주소, 휘발유_가격, 셀프주유, 운영시간, 편의점, 미왕빌딩으로부터_거리 = row
    print("주유소 아이디:", 주유소_아이디)
    print("주유소 브랜드명:", 주유소_브랜드명)
    print("주유소 매장명:", 주유소_매장명)
    print("주소:", 주소)
    print("휘발유 가격:", 휘발유_가격)
    print("셀프주유:", 셀프주유)
    print("운영시간:", 운영시간)
    print("편의점:", 편의점)
    print("미왕빌딩으로부터의 거리 (km):", 미왕빌딩으로부터_거리)
    print("---------------------------------------------")

주유소 아이디: 233
주유소 브랜드명: 자가상표
주유소 매장명: 만남의광장주유소
주소: 서울 서초구 양재대로12길 73-71
휘발유 가격: 1588
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 4.1
---------------------------------------------
주유소 아이디: 357
주유소 브랜드명: SK에너지
주유소 매장명: 행촌주유소
주소: 서울 영등포구 도신로 130 (신길동)
휘발유 가격: 1625
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 10.94
---------------------------------------------
주유소 아이디: 64
주유소 브랜드명: S-OIL
주유소 매장명: 스카이주유소
주소: 서울 강서구 개화동로 457 (방화동)
휘발유 가격: 1635
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 21.55
---------------------------------------------
주유소 아이디: 63
주유소 브랜드명: 현대오일뱅크
주유소 매장명: 행촌에너지 공항주유소
주소: 서울 강서구 개화동로 420 (개화동)
휘발유 가격: 1635
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 21.85
---------------------------------------------
주유소 아이디: 310
주유소 브랜드명: GS칼텍스
주유소 매장명: 지에스칼텍스(주)가든파이브주유소
주소: 서울 송파구 탄천동로 740
휘발유 가격: 1648
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 5.31
---------------------------------------------
주유소 아이디: 223
주유소 브랜드명: 현대오일뱅크
주유소 매장명: (주)가재울뉴타운주유소
주소: 서울 서대문구 모래내로 205
휘발유 가격: 1648
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 12.79
---------------------------------------------
주유소 아이디: 375
주유소 브랜드명: SK에너지
주유소 매장명: SK에너지(주) 기린주유소
주소: 서울 영등포구 선유로 270
휘발유 가격: 1694
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 12.31
---------------------------------------------
주유소 아이디: 145
주유소 브랜드명: GS칼텍스
주유소 매장명: 대득에너지(금천셀프주유소)
주소: 서울 금천구  시흥대로 81 (시흥동)
휘발유 가격: 1695
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 12.66
---------------------------------------------
주유소 아이디: 226
주유소 브랜드명: SK에너지
주유소 매장명: 행촌제2주유소
주소: 서울 서대문구 성산로 490 (대신동)
휘발유 가격: 1696
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 10.7
---------------------------------------------
주유소 아이디: 79
주유소 브랜드명: S-OIL
주유소 매장명: 하이웨이주유소
주소: 서울특별시 강서구 공항대로 432(화곡동)
휘발유 가격: 1697
셀프주유: ○
운영시간: ○
편의점: ○
미왕빌딩으로부터의 거리 (km): 16.73
---------------------------------------------

문제 8. 

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요. 

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [39]:
query = """
SELECT gu, brand_name, average_price
FROM (
  SELECT gu, GAS_BRAND.name AS brand_name, AVG(gasoline) AS average_price,
         ROW_NUMBER() OVER (PARTITION BY gu ORDER BY AVG(gasoline)) AS rn
  FROM GAS_STATION
  JOIN GAS_BRAND ON GAS_STATION.brand = GAS_BRAND.id
  GROUP BY gu, brand_name
) AS subquery
WHERE rn = 1
ORDER BY average_price ASC;

"""

cursor.execute(query)

rows = cursor.fetchall()
current_gu = ""

for i, row in enumerate(rows, start=1):
    구_이름, 주유소_브랜드명, 휘발유_평균_가격 = row
    구_이름_with_순서 = f"{i}. {구_이름}"
    print(구_이름_with_순서)
    print("주유소 브랜드명:", 주유소_브랜드명)
    print("휘발유 평균 가격:", 휘발유_평균_가격)
    print("---------------------------------------------")

1. 서초구
주유소 브랜드명: 자가상표
휘발유 평균 가격: 1588.0000
---------------------------------------------
2. 강북구
주유소 브랜드명: S-OIL
휘발유 평균 가격: 1618.5000
---------------------------------------------
3. 은평구
주유소 브랜드명: 현대오일뱅크
휘발유 평균 가격: 1623.2500
---------------------------------------------
4. 중랑구
주유소 브랜드명: 현대오일뱅크
휘발유 평균 가격: 1625.0000
---------------------------------------------
5. 양천구
주유소 브랜드명: S-OIL
휘발유 평균 가격: 1625.0000
---------------------------------------------
6. 영등포구
주유소 브랜드명: 알뜰주유소
휘발유 평균 가격: 1625.0000
---------------------------------------------
7. 강서구
주유소 브랜드명: 알뜰주유소
휘발유 평균 가격: 1631.0000
---------------------------------------------
8. 성북구
주유소 브랜드명: 알뜰주유소
휘발유 평균 가격: 1633.0000
---------------------------------------------
9. 성동구
주유소 브랜드명: 자가상표
휘발유 평균 가격: 1645.0000
---------------------------------------------
10. 서대문구
주유소 브랜드명: GS칼텍스
휘발유 평균 가격: 1645.5000
---------------------------------------------
11. 송파구
주유소 브랜드명: S-OIL
휘발유 평균 가격: 1650.2000
---------------------------------------------
12. 도봉구
주유소 브랜드명: S-OIL
휘발유 평균 가격: 1653.0000
---------------------------------------------
13. 동대문구
주유소 브랜드명: SK에너지
휘발유 평균 가격: 1665.6000
---------------------------------------------
14. 광진구
주유소 브랜드명: 현대오일뱅크
휘발유 평균 가격: 1667.3333
---------------------------------------------
15. 구로구
주유소 브랜드명: SK에너지
휘발유 평균 가격: 1672.5000
---------------------------------------------
16. 금천구
주유소 브랜드명: 알뜰주유소
휘발유 평균 가격: 1675.0000
---------------------------------------------
17. 관악구
주유소 브랜드명: 알뜰주유소
휘발유 평균 가격: 1685.0000
---------------------------------------------
18. 동작구
주유소 브랜드명: S-OIL
휘발유 평균 가격: 1689.0000
---------------------------------------------
19. 마포구
주유소 브랜드명: S-OIL
휘발유 평균 가격: 1694.0000
---------------------------------------------
20. 노원구
주유소 브랜드명: SK에너지
휘발유 평균 가격: 1696.3333
---------------------------------------------
21. 강동구
주유소 브랜드명: GS칼텍스
휘발유 평균 가격: 1710.8000
---------------------------------------------
22. 중구
주유소 브랜드명: S-OIL
휘발유 평균 가격: 1712.0000
---------------------------------------------
23. 종로구
주유소 브랜드명: 현대오일뱅크
휘발유 평균 가격: 1719.0000
---------------------------------------------
24. 용산구
주유소 브랜드명: 현대오일뱅크
휘발유 평균 가격: 1811.7500
---------------------------------------------
25. 강남구
주유소 브랜드명: SK에너지
휘발유 평균 가격: 1860.5385
---------------------------------------------

In [46]:
cursor.close()
conn.close()

---